{
  "plugins": ["react"],
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "arrowFunctions": true,
    "modules": true,
    "module": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "quotes": [ 2, "single", "backtick" ],
    "no-underscore-dangle": false,
    "nofunc": false,
    "no-script-url": false
  },
  "globals": {
    "context": true
  }
}
